# ===========================================
# onOffice Anfragen-Mail (Exposé-Anfragen)
# Postausgangsserver: smtp.onoffice.de TLS Port 587
# Posteingangsserver: imap.onoffice.de SSL/TLS Port 993
# ===========================================
SMTP_ANFRAGEN_USER=anfragen@heimmologis.de
SMTP_ANFRAGEN_PASS=dein-passwort-hier
