# ===========================================
# onOffice Anfragen-Mail (Exposé-Anfragen)
# Postausgangsserver: smtp.onoffice.de TLS Port 587
# Posteingangsserver: imap.onoffice.de SSL/TLS Port 993
# ===========================================
SMTP_ANFRAGEN_USER=anfragen@heimmologis.de
SMTP_ANFRAGEN_PASS=dein-passwort-hier

# onOffice Immobilien
# ONOFFICE_API_KEY=
# ONOFFICE_API_SECRET=
# ONOFFICE_PUBLISH_FIELD=veroeffentlichen
# ONOFFICE_ESTATE_FILTER_ID=
# PROPERTY_LISTINGS_PUBLIC=true
